.buttons button{
    padding: 10px 20px;
    background-color: black;
    color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
    margin: 50px;
    font-size: 20px;
    margin-left: 100px;

}
.buttons .display:hover{
    color: blue;
    border: 2px solid blue;
}
.buttons .remove:hover{
    color: red;
    border: 2px solid red;
}

.content{
    text-align: center;
    width: 50%;
    background-color: black;
    
}
@media (max-width:340px){
    .buttons button{
        margin: 10px;
    }
    .content{
        text-align: center;
        width: 100%;
        background-color: black; 
    }
}

